<!-- blog_django\templates\post\post_create.html -->
{% extends 'layouts/post_layout.html' %}

{% block title %}Post | ES CINE{% endblock title %}

{% block content %}

<h2>Crear nuevo post</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex flex-col gap-4">
        <p class="flex flex-col">{{ form.title.label_tag }} {{ form.title }}</p>
        <p class="flex flex-col">
            <label for="id_content">Contenido:</label> {{ form.content }}
        </p>
        <p>{{ form.allow_comments.label_tag }} {{ form.allow_comments }}</p>

        <!-- Campo para seleccionar categoría -->
        <div class="flex flex-col">
          <label for="id_category">Categoria:</label>
          <select name="category" id="id_category" class="bg-gray-700 text-white p-2 rounded">
              <option value="">Selecciona una categoría</option>
              {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.title }}</option>
              {% endfor %}
          </select>
        </div>
        
        <!-- Botón para agregar/editar categorías en category/create -->
        <p>
            <a href="{% url 'post:category_create' %}" class="bg-green-500 text-white p-2 rounded-md">Agregar Nueva categoría</a>
        </p>


        <p><input type="file" name="images" multiple /></p>
    </div>
    <button type="submit" class="bg-blue-500 text-white p-2 rounded-lg">Crear Post</button>
</form>
{% endblock content %}

<!--En esta plantilla se ha definido un formulario que permite crear un nuevo post.
Se ha definido un campo para el título, un campo para el contenido, un campo para permitir comentarios, y un campo para subir imágenes.
Importante: El atributo enctype="multipart/form-data" es necesario para poder subir archivos.-->

<!--TODO agregar más botones con otras funcionalidades si es necesario -->

<!--TODO Customizar botones-->

<!--
HTML

<div class="wrap">
  <button class="button">Submit</button>
</div>


CSS

html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

-->

