<!-- templates/post/user_post_list.html -->
<!-- templates/user_posts.html -->
{% extends 'layouts/general_layout.html' %}
{% block content %}
    <h1 class="text-white">Mis Posts</h1>

    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{% url 'post:post_detail' slug=post.slug %}" class="text-white">{{ post.title }}</a> - {{ post.creation_date }}
                </li>
            {% endfor %}
        </ul>

        <!-- Paginación -->
        
        {% if is_paginated %}
            <div class="flex justify-center">

                <span class="text-white">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            </div>

            <div class="inline-flex">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold rounded-l p-2 m-4">Primero</a>

                    <a href="?page={{ page_obj.previous_page_number }}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold rounded-r p-2 m-4">Anterior</a>

                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold rounded-l p-2 m-4">Siguiente</a>

                    <a href="?page={{ page_obj.paginator.num_pages }}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold rounded-r p-2 m-4">Último</a>

                {% endif %}

            </div>
        {% endif %}
    {% else %}
        <p>No has creado ningún post.</p>
    {% endif %}
{% endblock %}

<!--TODO editar visualizacion de "Mis Posts"-->
