<!-- blog_django/templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
</head>

<body>
    {% extends 'layouts/general_layout.html' %}
    {% block content %}
    <h1>Blog Informatorio 🚀</h1>
    {% endblock content %}
    
    {% if user .is_authenticated %}

        
    {% endif %}
        
</body>

</html>


#TODO Agregar condiciones  para mostrar o no mostrar el login y el logout
