<!-- blog_django/templates/index.html -->
<!-- blog_django/templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ES CINE</title>
</head>

<nav>

    {% include 'includes/header_category.html' %}

</nav>

<body>
    

    {% block content %}

    <!-- Aquí incluimos la plantilla de la lista de posts -->
    {% include 'post/post_list.html' %}


    {% endblock content %}
</body>

</html>

<!--TODO definir permisos para que usuarios viistantes solo puedan ver detalles de post, lista de posts, e inicio-->

<!--TODO terminar de definir las categorias en un navbar-->







