<!-- blog_django/templates/index.html -->
<!-- blog_django/templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ES CINE</title>
</head>

<nav>

    {% include 'includes/base.html' %}

</nav>

<body>
    

    {% block content %}

    <!-- Aquí incluimos la plantilla de la lista de posts -->
    {% include 'post/post_list.html' %}


    {% endblock content %}
</body>

</html>


<!--TODO Agregar condiciones para mostrar o no mostrar el login y el logout (condion if)-->

<!--TODO Definir views para ir a la pagina de login y logout-->

<!--TODO Definir en settings.py el django.contrib.auth.context_processors.auth  para ir a la pagina de login y logout, para que usereste disponible en templates-->

<!--TODO  Agregar un link para ir a la pagina de login y logout (definir urls)-->

<!--TODO terminar de definir las categorias em un navbar-->







