<!-- blog_django/templates/user/user_profile.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
</head>

<body>
    {% extends 'layouts/general_layout.html' %}
    {% load static %}
    {% block title %}User Profile{% endblock title %}
    {% block content %}
    <div>
    <h1 class="text-white">User Profile 😎</h1>
    </div>
    <p class="text-white">Alias: {{ user.alias }}</p>
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="Avatar de {{ user.alias }}">
    {% else %}
        <img src="{% static 'user/default/avatar_default.jpg' %}" alt="Avatar por defecto">
    {% endif %}
    {% endblock content %}
</body>

</html>

<!--TODO agregar estilos a profile-->
<!--TODO visalizar nombre, apellido, direccion de email,fecha de nacimeinto, nombre de usuario, editar contraseña,ect-->
